<%- include('partials/header'); %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Firms</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Firms</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <!-- Add New Firm Button -->
      <div class="row mb-4 addNewFirm" >
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addFirmModal"
          >
            <i class="fas fa-plus"></i> Add New Firm
          </button>
        </div>
      </div>

      <!-- Firms Grid -->
      <div class="row" id="firms-container">
        <!-- Firms will be rendered here -->
      </div>
    </div>
  </div>
</div>

<!-- Add Firm Modal -->
<div
  class="modal fade"
  id="addFirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addFirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFirmModalLabel">Add New Firm</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addFirmForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firmName"
                  >Firm Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="firmName"
                  name="name"
                  required
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="firmEmail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="firmEmail"
                  name="email"
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="firmPhone">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="firmPhone"
                  name="phone"
                  maxlength="50"
                />
              </div>
              <div class="form-group">
                <label for="firmWebsite">Website</label>
                <input
                  type="url"
                  class="form-control"
                  id="firmWebsite"
                  name="website"
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="firmTaxNumber">Tax Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="firmTaxNumber"
                  name="taxNumber"
                  maxlength="100"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="firmAddress">Address</label>
                <textarea
                  class="form-control"
                  id="firmAddress"
                  name="address"
                  rows="2"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="firmCity">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="firmCity"
                  name="city"
                  maxlength="100"
                />
              </div>
              <div class="form-group">
                <label for="firmState">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="firmState"
                  name="state"
                  maxlength="100"
                />
              </div>
              <div class="form-group">
                <label for="firmPostalCode">Postal Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="firmPostalCode"
                  name="postalCode"
                  maxlength="20"
                />
              </div>
              <div class="form-group">
                <label for="firmCountry">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="firmCountry"
                  name="country"
                  maxlength="100"
                />
              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group">
                <label for="firmLogo">Logo</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="firmLogo"
                    name="logo"
                    accept="image/*"
                  />
                  <label class="custom-file-label" for="firmLogo"
                    >Choose file</label
                  >
                </div>
                <small class="form-text text-muted"
                  >Recommended size: 200x200 pixels. Max file size: 2MB</small
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="saveFirmBtn">
          Save Firm
        </button>
      </div>
    </div>
  </div>
</div>

<!-- View Firm Details Modal -->
<div
  class="modal fade"
  id="viewFirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewFirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewFirmModalLabel">Firm Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="firm-logo mb-4 ">
              <img
                id="modal-firmLogo"
                src=""
                alt="Firm Logo"
                class="img-fluid"
                style="max-width: 200px; display: none"
              />
            </div>
            <div class="firm-info">
              <h4 id="modal-firmName" class="mb-3"></h4>
              <p id="modal-firmDescription" class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-info">
              <h5 class="mb-3">Contact Information</h5>
              <div class="info-item mb-2">
                <i class="fas fa-map-marker-alt mr-2"></i>
                <span id="modal-firmAddress"></span>
              </div>
              <div class="info-item mb-2">
                <i class="fas fa-phone mr-2"></i>
                <span id="modal-firmPhone"></span>
              </div>
              <div class="info-item mb-2">
                <i class="fas fa-envelope mr-2"></i>
                <span id="modal-firmEmail"></span>
              </div>
              <div class="info-item mb-2">
                <i class="fas fa-globe mr-2"></i>
                <span id="modal-firmWebsite"></span>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <h5 class="mb-3">Location Details</h5>
            <div class="info-item mb-2">
              <i class="fas fa-city mr-2"></i>
              <span id="modal-firmCity"></span>
            </div>
            <div class="info-item mb-2">
              <i class="fas fa-map mr-2"></i>
              <span id="modal-firmState"></span>
            </div>
            <div class="info-item mb-2">
              <i class="fas fa-mail-bulk mr-2"></i>
              <span id="modal-firmPostalCode"></span>
            </div>
            <div class="info-item mb-2">
              <i class="fas fa-flag mr-2"></i>
              <span id="modal-firmCountry"></span>
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="mb-3">Business Information</h5>
            <div class="info-item mb-2">
              <i class="fas fa-file-invoice mr-2"></i>
              <span id="modal-firmTaxNumber"></span>
            </div>
            
            <div class="info-item mb-2">
              <i class="fas fa-calendar-alt mr-2"></i>
              <span id="modal-firmCreatedAt"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Firm Modal -->
<div
  class="modal fade"
  id="editFirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editFirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFirmModalLabel">Edit Firm</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editFirmForm" enctype="multipart/form-data">
          <input type="hidden" id="edit-firmId" name="id" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="edit-firmName"
                  >Firm Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="edit-firmName"
                  name="name"
                  required
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmEmail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="edit-firmEmail"
                  name="email"
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmPhone">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="edit-firmPhone"
                  name="phone"
                  maxlength="50"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmWebsite">Website</label>
                <input
                  type="url"
                  class="form-control"
                  id="edit-firmWebsite"
                  name="website"
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmTaxNumber">Tax Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-firmTaxNumber"
                  name="taxNumber"
                  maxlength="100"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="edit-firmAddress">Address</label>
                <textarea
                  class="form-control"
                  id="edit-firmAddress"
                  name="address"
                  rows="2"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="edit-firmCity">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-firmCity"
                  name="city"
                  maxlength="100"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmState">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-firmState"
                  name="state"
                  maxlength="100"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmPostalCode">Postal Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-firmPostalCode"
                  name="postalCode"
                  maxlength="20"
                />
              </div>
              <div class="form-group">
                <label for="edit-firmCountry">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-firmCountry"
                  name="country"
                  maxlength="100"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="edit-firmLogo">Logo</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="edit-firmLogo"
                    name="logo"
                    accept="image/*"
                  />
                  <label class="custom-file-label" for="edit-firmLogo"
                    >Choose file</label
                  >
                </div>
                <small class="form-text text-muted"
                  >Recommended size: 200x200 pixels. Max file size: 2MB</small
                >
                <div id="edit-currentLogo" class="mt-2" style="display: none">
                  <img
                    src=""
                    alt="Current Logo"
                    class="img-thumbnail"
                    style="max-height: 100px"
                  />
                  <button
                    type="button"
                    class="btn btn-sm btn-danger ml-2"
                    id="removeLogoBtn"
                  >
                    Remove Logo
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="updateFirmBtn">
          Update Firm
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Function to render a single firm card
    function renderFirmCard(firm) {
      return `
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title mb-0">${firm.name || "Unnamed Firm"}</h5>
              <div class="dropdown">
                <button class="btn btn-link text-dark p-0" type="button" data-toggle="dropdown">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item view-firm-details" href="#" data-firm-id="${
                    firm.id
                  }">
                    <i class="fas fa-eye mr-2"></i>View
                  </a>
                  <a class="dropdown-item edit-firm" href="#" data-firm-id="${
                    firm.id
                  }">
                    <i class="fas fa-edit mr-2"></i>Edit
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="delete-firm dropdown-item text-danger" href="#" data-id="${firm.id}"><i class="fas fa-trash mr-2"></i>Delete</a>
                </div>
              </div>
            </div>
            <div class="firm-details">
              ${
                firm.address
                  ? `<p class="mb-1"><i class="fas fa-map-marker-alt mr-2"></i>${firm.address}</p>`
                  : ""
              }
              ${
                firm.phone
                  ? `<p class="mb-1"><i class="fas fa-phone mr-2"></i>${firm.phone}</p>`
                  : ""
              }
              ${
                firm.email
                  ? `<p class="mb-1"><i class="fas fa-envelope mr-2"></i>${firm.email}</p>`
                  : ""
              }
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <button class="btn btn-primary btn-sm btn-block view-firm-details" data-firm-id="${
              firm.id
            }">
              View Details
            </button>
          </div>
        </div>
      </div>
    `;
    }


    // Function to show firm details in modal
    function showFirmDetails(firmId) {
      $.ajax({
        url: `/api/firms`,
        method: "GET",
        success: function (firms) {
          let firm = firms.filter((e) => e.id == firmId)[0];
          console.log(firm);
          // Update modal content
          $("#modal-firmName").text(firm.name);

          // Contact Information
          $("#modal-firmAddress").text(firm.address || "N/A");
          $("#modal-firmPhone").text(firm.phone || "N/A");
          $("#modal-firmEmail").text(firm.email || "N/A");
          $("#modal-firmWebsite").text(firm.website || "N/A");

          // Location Details
          $("#modal-firmCity").text(firm.city || "N/A");
          $("#modal-firmState").text(firm.state || "N/A");
          $("#modal-firmPostalCode").text(firm.postalCode || "N/A");
          $("#modal-firmCountry").text(firm.country || "N/A");

          // Business Information
          $("#modal-firmTaxNumber").text(firm.taxNumber || "N/A");
          $("#modal-firmCreatedAt").text(formatDate(firm.createdAt));

          // Logo
          const logoImg = $("#modal-firmLogo");
          if (firm.logoPath) {
            logoImg.attr("src", firm.logoPath).show();
          } else {
            logoImg.hide();
          }

          // Update edit button href
          $("#modal-editFirmBtn").attr("href", `/firms/${firm.id}/edit`);

          // Show modal
          $("#viewFirmModal").modal("show");
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error loading firm details: " + error,
            icon: "error",
          });
        },
      });
    }

    // Handle view details click
    $(document).on("click", ".view-firm-details", function (e) {
      e.preventDefault();
      const firmId = $(this).data("firm-id");
      showFirmDetails(firmId);
    });

    // Function to load firms
    function loadFirms() {
      $.ajax({
        url: "/api/firms",
        method: "GET",
        success: function (response) {
          const firmsContainer = $("#firms-container");
          firmsContainer.empty();

          if (response && response.length > 0) {
            response.forEach((firm) => {
              firmsContainer.append(renderFirmCard(firm));
            });
          } else {
            firmsContainer.html(`
            <div class="col-12">
              <div class="alert alert-info">
                <i class="fas fa-info-circle mr-2"></i>No firms found. Click "Add New Firm" to create one.
              </div>
            </div>
          `);
          }
        },
        error: function (xhr, status, error) {
          $("#firms-container").html(`
          <div class="col-12">
            <div class="alert alert-danger">
              <i class="fas fa-exclamation-circle mr-2"></i>Error loading firms: ${error}
            </div>
          </div>
        `);
        },
      });
    }

    // Handle Add Firm Form Submission
    $("#saveFirmBtn").click(function () {
      const formData = new FormData($("#addFirmForm")[0]);

      $.ajax({
        url: "/api/firms",
        method: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          $("#addFirmModal").modal("hide");
          $("#addFirmForm")[0].reset();
          $(".custom-file-label").text("Choose file");
          loadFirms();
          Swal.fire({
            title: "Success!",
            text: "Firm added successfully",
            icon: "success",
          }).then(() => {
            location.reload();
          });
        },
        error: function (xhr, status, error) {
          let message = error;
          if(xhr.status==400){
            console.log(xhr.responseJSON.errors)
            if(xhr.responseJSON.errors && xhr.responseJSON.errors.length > 0){
              message = xhr.responseJSON.errors.map(e=>{
                return e.msg;
              });
            }
          }
          Swal.fire({
            title: "Error!",
            text: "Error adding firm: " + message,
            icon: "error",
          });
        },
      });
    });

    // Update custom file input label
    $(".custom-file-input").on("change", function () {
      const fileName = $(this).val().split("\\").pop();
      $(this)
        .siblings(".custom-file-label")
        .text(fileName || "Choose file");
    });

    // Function to delete firm

    $(document).on('click',".delete-firm",function(e){
      e.preventDefault();
      let firmId = $(this).data('id')
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: `/api/firms/${firmId}`,
            method: "DELETE",
            success: function (response) {
              loadFirms();
              Swal.fire({
                title: "Success!",
                text: "Firm deleted successfully",
                icon: "success",
              }).then(() => {
                location.reload();
              });
            },
            error: function (xhr, status, error) {
              Swal.fire({
                title: "Error!",
                text: "Error deleting firm: " + error,
                icon: "error",
              });
            },
          });
        }
      });
    })

    // Function to show edit firm modal
    function showEditFirmModal(firmId) {
      $.ajax({
        url: `/api/firms`,
        method: "GET",
        success: function (firms) {
          let firm = firms.filter((e) => e.id == firmId)[0];

          // Set firm ID
          $("#edit-firmId").val(firm.id);

          // Basic Information
          $("#edit-firmName").val(firm.name);
          $("#edit-firmEmail").val(firm.email);
          $("#edit-firmPhone").val(firm.phone);
          $("#edit-firmWebsite").val(firm.website);
          $("#edit-firmTaxNumber").val(firm.taxNumber);

          // Location Information
          $("#edit-firmAddress").val(firm.address);
          $("#edit-firmCity").val(firm.city);
          $("#edit-firmState").val(firm.state);
          $("#edit-firmPostalCode").val(firm.postalCode);
          $("#edit-firmCountry").val(firm.country);


          // Logo
          const currentLogo = $("#edit-currentLogo");
          if (firm.logoPath) {
            currentLogo.find("img").attr("src", firm.logoPath);
            currentLogo.show();
          } else {
            currentLogo.hide();
          }

          // Reset file input
          $("#edit-firmLogo").val("");
          $(".custom-file-label").text("Choose file");

          // Show modal
          $("#editFirmModal").modal("show");
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error loading firm details: " + error,
            icon: "error",
          });
        },
      });
    }

    // Handle Update Firm Form Submission
    $("#updateFirmBtn").click(function () {
      const formData = new FormData($("#editFirmForm")[0]);
      const firmId = $("#edit-firmId").val();

      $.ajax({
        url: `/api/firms/${firmId}`,
        method: "PUT",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          $("#editFirmModal").modal("hide");
          loadFirms();
          Swal.fire({
            title: "Success!",
            text: "Firm updated successfully",
            icon: "success",
          }).then(() => {
            location.reload();
          });
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error updating firm: " + error,
            icon: "error",
          });
        },
      });
    });

    // Handle Remove Logo
    $("#removeLogoBtn").click(function () {
      const firmId = $("#edit-firmId").val();

      $.ajax({
        url: `/api/firms/${firmId}/logo`,
        method: "DELETE",
        success: function (response) {
          $("#edit-currentLogo").hide();
          Swal.fire({
            title: "Success!",
            text: "Logo removed successfully",
            icon: "success",
          }).then(() => {
            location.reload();
          });
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error removing logo: " + error,
            icon: "error",
          });
        },
      });
    });

    // Handle edit firm click
    $(document).on("click", ".edit-firm", function (e) {
      e.preventDefault();
      const firmId = $(this).data("firm-id");
      showEditFirmModal(firmId);
    });

    // Load firms when page loads
    loadFirms();
  });
</script>

<%- include('partials/footer'); %>
