<%- include('partials/header'); %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Products</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Products</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <% if(permissions[`${user.role}_PRODUCT_CREATE`]){ %>
      <!-- Add New Product Button -->
      <div class="row mb-4">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addProductModal"
          >
            <i class="fas fa-plus"></i> Add New Product
          </button>
        </div>
      </div>
      <% } %>
      <!-- Products Grid -->
      <div class="row" id="products-container">
        <!-- Products will be rendered here -->
      </div>
    </div>
  </div>
</div>

<!-- Add Product Modal -->
<div
  class="modal fade"
  id="addProductModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addProductForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="productName"
                  >Product Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="productName"
                  name="name"
                  required
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="productSku">SKU</label>
                <input
                  type="text"
                  class="form-control"
                  id="productSku"
                  name="sku"
                  maxlength="100"
                />
              </div>
              <div class="form-group">
                <label for="productUnit">Unit</label>
                <input
                  type="text"
                  class="form-control"
                  id="productUnit"
                  name="unit"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="productRegularPrice"
                  >Regular Price <span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    id="productRegularPrice"
                    name="regularPrice"
                    required
                    min="0"
                    step="0.01"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="productDescription">Description</label>
                <textarea
                  class="form-control"
                  id="productDescription"
                  name="description"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="saveProductBtn">
          Save Product
        </button>
      </div>
    </div>
  </div>
</div>

<!-- View Product Details Modal -->
<div
  class="modal fade"
  id="viewProductModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewProductModalLabel">Product Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="product-info">
              <h4 id="modal-productName" class="mb-3"></h4>
              <div class="info-item mb-2">
                <i class="fas fa-barcode mr-2"></i>
                <span id="modal-productSku"></span>
              </div>
              <div class="info-item mb-2">
                <i class="fas fa-box mr-2"></i>
                <span id="modal-productUnit"></span>
              </div>
              <div class="info-item mb-2">
                <i class="fas fa-dollar-sign mr-2"></i>
                <span id="modal-productRegularPrice"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="description-info">
              <h5 class="mb-3">Description</h5>
              <div class="info-item mb-2">
                <span id="modal-productDescription"></span>
              </div>
              <div class="info-item mb-2">
                <i class="fas fa-calendar-alt mr-2"></i>
                <span id="modal-productCreatedAt"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Product Modal -->
<div
  class="modal fade"
  id="editProductModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editProductForm">
          <input type="hidden" id="edit-productId" name="id" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="edit-productName"
                  >Product Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="edit-productName"
                  name="name"
                  required
                  maxlength="255"
                />
              </div>
              <div class="form-group">
                <label for="edit-productSku">SKU</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-productSku"
                  name="sku"
                  maxlength="100"
                />
              </div>
              <div class="form-group">
                <label for="edit-productUnit">Unit</label>
                <input
                  type="text"
                  class="form-control"
                  id="edit-productUnit"
                  name="unit"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="edit-productRegularPrice"
                  >Regular Price <span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    id="edit-productRegularPrice"
                    name="regularPrice"
                    required
                    min="0"
                    step="0.01"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="edit-productDescription">Description</label>
                <textarea
                  class="form-control"
                  id="edit-productDescription"
                  name="description"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="updateProductBtn">
          Update Product
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Function to render a single product card
    function renderProductCard(product) {
      product.regularPrice = formatNumberFn(parseFloat(product.regularPrice),"<%= numberFormat %>");

      return `
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title mb-0">${
                product.name || "Unnamed Product"
              }</h5>
              <div class="dropdown">
                <button class="btn btn-link text-dark p-0" type="button" data-toggle="dropdown">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu">
                  <% if(permissions[`${user.role}_PRODUCT_VIEW_SINGLE`]){ %>
                  <a class="dropdown-item view-product-details" href="#" data-product-id="${
                    product.id
                  }">
                    <i class="fas fa-eye mr-2"></i>View
                  </a>
                  <% } %>
                  <% if(permissions[`${user.role}_PRODUCT_UPDATE`]){ %>
                  <a class="dropdown-item edit-product" href="#" data-product-id="${
                    product.id
                  }">
                    <i class="fas fa-edit mr-2"></i>Edit
                  </a>
                  <% } %>
                  <% if(permissions[`${user.role}_PRODUCT_DELETE`]){ %>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger delete-product" 
                  data-id="${product.id}"
                  href="#">
                    <i class="fas fa-trash mr-2"></i>Delete
                  </a>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="product-details">
              ${
                product.sku
                  ? `<p class="mb-1"><i class="fas fa-barcode mr-2"></i>${product.sku}</p>`
                  : ""
              }
              ${
                product.unit
                  ? `<p class="mb-1"><i class="fas fa-box mr-2"></i>${product.unit}</p>`
                  : ""
              }
              <p class="mb-1"><i class="fas fa-dollar-sign mr-2"></i>${product.regularPrice}</p>
              ${
                product.description
                  ? `<p class="mb-1 text-muted">${product.description.substring(
                      0,
                      100
                    )}${product.description.length > 100 ? "..." : ""}</p>`
                  : ""
              }
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <% if(permissions[`${user.role}_PRODUCT_VIEW_SINGLE`]){ %>
            <button class="btn btn-primary btn-sm btn-block view-product-details" data-product-id="${
              product.id
            }">
              View Details
            </button>
            <% } %>
          </div>
        </div>
      </div>
    `;
    }


    // Function to show product details in modal
    function showProductDetails(productId) {
      $.ajax({
        url: `/api/products`,
        method: "GET",
        success: function (products) {
          let product = products.filter((e) => e.id == productId)[0];

          product.regularPrice = formatNumberFn(parseFloat(product.regularPrice),"<%= numberFormat %>");

          // Update modal content
          $("#modal-productName").text(product.name);
          $("#modal-productSku").text(product.sku || "N/A");
          $("#modal-productUnit").text(product.unit || "N/A");
          $("#modal-productRegularPrice").text(
            `$${product.regularPrice}`
          );
          $("#modal-productDescription").text(product.description || "N/A");
          $("#modal-productCreatedAt").text(formatDate(product.createdAt));

          // Update edit button href
          $("#modal-editProductBtn").attr(
            "href",
            `/products/${product.id}/edit`
          );

          // Show modal
          $("#viewProductModal").modal("show");
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error loading product details: " + error,
            icon: "error",
          });
        },
      });
    }

    // Function to show edit product modal
    function showEditProductModal(productId) {
      $.ajax({
        url: `/api/products`,
        method: "GET",
        success: function (products) {
          let product = products.filter((e) => e.id == productId)[0];

          // Set product ID
          $("#edit-productId").val(product.id);

          // Basic Information
          $("#edit-productName").val(product.name);
          $("#edit-productSku").val(product.sku);
          $("#edit-productUnit").val(product.unit);
          $("#edit-productRegularPrice").val(product.regularPrice);
          $("#edit-productDescription").val(product.description);

          // Show modal
          $("#editProductModal").modal("show");
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error loading product details: " + error,
            icon: "error",
          });
        },
      });
    }

    // Handle view details click
    $(document).on("click", ".view-product-details", function (e) {
      e.preventDefault();
      const productId = $(this).data("product-id");
      showProductDetails(productId);
    });

    // Handle edit product click
    $(document).on("click", ".edit-product", function (e) {
      e.preventDefault();
      const productId = $(this).data("product-id");
      showEditProductModal(productId);
    });

    // Function to load products
    function loadProducts() {
      $.ajax({
        url: "/api/products",
        method: "GET",
        success: function (response) {
          const productsContainer = $("#products-container");
          productsContainer.empty();

          if (response && response.length > 0) {
            response.forEach((product) => {
              productsContainer.append(renderProductCard(product));
            });
          } else {
            productsContainer.html(`
            <div class="col-12">
              <div class="alert alert-info">
                <i class="fas fa-info-circle mr-2"></i>No products found. Click "Add New Product" to create one.
              </div>
            </div>
          `);
          }
        },
        error: function (xhr, status, error) {
          $("#products-container").html(`
          <div class="col-12">
            <div class="alert alert-danger">
              <i class="fas fa-exclamation-circle mr-2"></i>Error loading products: ${error}
            </div>
          </div>
        `);
        },
      });
    }

    // Handle Add Product Form Submission
    $("#saveProductBtn").click(function () {
      const formData = new FormData($("#addProductForm")[0]);

      $.ajax({
        url: "/api/products",
        method: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          $("#addProductModal").modal("hide");
          $("#addProductForm")[0].reset();
          loadProducts();
          Swal.fire({
            title: "Success!",
            text: "Product added successfully",
            icon: "success",
          }).then(() => {
            location.reload();
          });
        },
        error: function (xhr, status, error) {
          let message = error;
          if(xhr.status==400){
            console.log(xhr.responseJSON.errors)
            if(xhr.responseJSON.errors && xhr.responseJSON.errors.length > 0){
              message = xhr.responseJSON.errors.map(e=>{
                return e.msg;
              });
            }
          }
          Swal.fire({
            title: "Error!",
            text: "Error adding product: " + message,
            icon: "error",
          });
        },
      });
    });

    // Handle Update Product Form Submission
    $("#updateProductBtn").click(function () {
      const formData = new FormData($("#editProductForm")[0]);
      const productId = $("#edit-productId").val();

      $.ajax({
        url: `/api/products/${productId}`,
        method: "PUT",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          $("#editProductModal").modal("hide");
          loadProducts();
          Swal.fire({
            title: "Success!",
            text: "Product updated successfully",
            icon: "success",
          }).then(() => {
            location.reload();
          });
        },
        error: function (xhr, status, error) {
          Swal.fire({
            title: "Error!",
            text: "Error updating product: " + error,
            icon: "error",
          });
        },
      });
    });

    // Function to delete product
    $(document).on('click','.delete-product',function(e){
      e.preventDefault();
      const productId = $(this).data('id')
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: `/api/products/${productId}`,
            method: "DELETE",
            success: function (response) {
              loadProducts();
              Swal.fire({
                title: "Success!",
                text: "Product deleted successfully",
                icon: "success",
              }).then(() => {
                location.reload();
              });
            },
            error: function (xhr, status, error) {
              Swal.fire({
                title: "Error!",
                text: "Error deleting product: " + error,
                icon: "error",
              });
            },
          });
        }
      });
    });

    // Load products when page loads
    loadProducts();
  });
</script>

<%- include('partials/footer'); %>
